#if 문

In [ ]:
money = True
if money:
  print("택시를 타고 가라")
else:
  print("걸어가라")

택시를 타고 가라

# 비교연산자

In [ ]:
x = 3
y = 2
x > y

True

In [ ]:
money = 2000
if money >= 3000:
  print("택시를 타고 가라")
else:
  print("걸어가라")

걸어가라

In [ ]:
money = 2000
card = True
if money >= 3000 or card:
  print("택시를 타고 가라")
else:
  print("걸어가라")

택시를 타고 가라

In [ ]:
1 in [1, 2, 3]

True

In [ ]:
1 not in [1, 2, 3]

False

In [ ]:
4 not in [1, 2, 3]

True

In [ ]:
'a' in ['a', 'b', 'c']

True

In [ ]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
  print("택시를 타고 가라")
else:
  print("걸어가라")

택시를 타고 가라

In [ ]:
if 'money' in pocket:
  pass
else:
  print("걸어가라")

In [ ]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
  print("택시를 타고 가라")
else:
  if card:
    print("택시를 타고 가라")
  else:
    print("걸어가라")

택시를 타고 가라

In [ ]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
  print("택시를 타고 가라")
elif card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [ ]:
score = 50
if score >= 60:
  message = "success"
else:
  message = "failure"
message

'failure'

In [ ]:
message = "success" if score >= 60 else "failure"
message

'failure'

# while문

In [ ]:
treeHit = 0
while treeHit < 10:
  treeHit = treeHit + 1
  print("나무를 %d번 찍었습니다." % treeHit)
  if treeHit == 10:
    print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [ ]:
prompt = """
  1. Add
  2. Del
  3. List
  4. Quit

  Enter number: """

In [ ]:
print(prompt)

  1. Add
  2. Del
  3. List
  4. Quit

  Enter number:

In [ ]:
number = 0
while number != 4:
  print(prompt)
  number = int(input())
# input = 입력받는 값 (4이면 종료)

  1. Add
  2. Del
  3. List
  4. Quit

  Enter number:
4

In [ ]:
coffee = 10
money = 300
while money:
  print("돈을 받았으니 커피를 줍니다.")
  coffee = coffee - 1
  print("남은 커피의 양은 %d개입니다." % coffee)
  if coffee == 0:
    print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
    break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [ ]:
coffee = 10
while True:
  money = int(input("돈을 넣어주세요: "))
  if money == 300:
    print("커피를 줍니다.")
    coffee = coffee - 1
  elif money > 300:
    print("거스름돈 %d를 주고 커피를 줍니다." % (money - 300))
    coffee = coffee - 1
  else:
    print("돈을 다시 돌려주고 커피를 주지 않습니다.")
    print("남은 커피의 양은 %d개입니다." % coffee)
  if coffee == 0:
    print("커피가 다 떨어졌습니다.판매를 중지합니다.")
    break

돈을 넣어주세요: 1000
거스름돈 700를 주고 커피를 줍니다.
돈을 넣어주세요: 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어주세요: 300
커피를 줍니다.
돈을 넣어주세요: 100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 7개입니다.
돈을 넣어주세요: 600
거스름돈 300를 주고 커피를 줍니다.
돈을 넣어주세요: 800
거스름돈 500를 주고 커피를 줍니다.
돈을 넣어주세요: 1000
거스름돈 700를 주고 커피를 줍니다.
돈을 넣어주세요: 900
거스름돈 600를 주고 커피를 줍니다.
돈을 넣어주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어주세요: 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어주세요: 600
거스름돈 300를 주고 커피를 줍니다.
커피가 다 떨어졌습니다.판매를 중지합니다.

In [ ]:
a = 0
while a < 10:
  a = a + 1
  if a % 2 == 0: continue
  print(a)

1
3
5
7
9

#for문

In [ ]:
test_list = ['one','two','three']
for i in test_list:
  print(i)

one
two
three

In [ ]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
  print(first + last)

3
7
11

In [ ]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
  number = number + 1
  if mark >= 60:
    print("%d번 학생은 합격입니다." % number)
  else:
    print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [ ]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
  number = number + 1
  if mark < 60:
    continue
  print("%d번 학생 축하합니다. 합격입니다." % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [ ]:
a = range(0 ,11)
a

range(0, 11)

In [ ]:
add = 0
for i in range(1,11):
  add = add + i
print(add)

55

In [ ]:
marks = [90, 25, 67, 45, 80]
len(marks)
for number in range(len(marks)):
  if marks[number] < 60:
    continue
  print("%d번 학생 축하합니다. 합격입니다." % (number+1))
# number는 0부터 len(marks)=5, 5-1=4까지 동작

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [ ]:
for i in range(2,10):
  for j in range(1,10):
    print(i*j, end = " ")
  print('') # 다음 줄로 넘어가기

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [ ]:
a = [1,2,3,4]
result = []
for num in a:
  result.append(num*3)
print(result)

[3, 6, 9, 12]

In [ ]:
a = [1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [ ]:
a = [1,2,3,4]
result = [num*3 for num in a if num % 2 == 0] # 짝수인 조건
print(result)

[6, 12]