# 1. 데이터 불러오기

In [ ]:
# 향후 버전 올라갈 때 변경사항 등을 알려주는 경고 메세지 무시
import warnings
warnings.filterwarnings("ignore")

In [ ]:
# 그냥 코드 복사
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# One-hot Encoding과 min-max scaling이 적용된 데이터 사용 : Fvote.csv
# 경로 복사
data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MachineLearning/data/Fvote.csv', encoding='utf-8')

In [ ]:
data.head()
# 칼럼 0이 삽입됨

,Unnamed: 0,gender_female,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention,vote,parties
0,0,0,1,0,0,0,0,1,1.0,0.666667,0.666667,0.25,0.25,0.75,1,2
1,1,0,1,0,0,1,0,0,0.5,0.666667,0.666667,0.25,0.75,0.50,0,3
2,2,0,1,0,1,0,0,0,0.0,0.333333,1.000000,0.00,0.50,0.45,1,4
3,3,1,0,0,0,0,1,0,0.5,0.000000,0.666667,1.00,0.75,0.40,1,1
4,4,0,1,0,0,0,1,0,0.0,0.333333,1.000000,0.75,0.50,0.35,1,1

In [ ]:
data.shape

(211, 16)

# 2. 특성(X)과 레이블(y) 나누기

In [ ]:
# 방법1: 특성이름으로 불러오기
X=data[['gender_female', 'gender_male', 'region_Chungcheung', 'region_Honam', 
        'region_Others', 'region_Sudo', 'region_Youngnam', 'edu', 'income', 
        'age', 'score_gov', 'score_progress', 'score_intention']]

In [ ]:
X.head()

,gender_female,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention
0,0,1,0,0,0,0,1,1.0,0.666667,0.666667,0.25,0.25,0.75
1,0,1,0,0,1,0,0,0.5,0.666667,0.666667,0.25,0.75,0.50
2,0,1,0,1,0,0,0,0.0,0.333333,1.000000,0.00,0.50,0.45
3,1,0,0,0,0,1,0,0.5,0.000000,0.666667,1.00,0.75,0.40
4,0,1,0,0,0,1,0,0.0,0.333333,1.000000,0.75,0.50,0.35

In [ ]:
# 방법2: 특성 위치값으로 불러오기
X=data[data.columns[1:14]]

In [ ]:
# 방법3: loc 함수로 불러오기 (단, 불러올 특성이 연달아 있어야 함)
X=data.loc[:, 'gender_female':'score_intention']

In [ ]:
y=data[["vote"]]

In [ ]:
y.head()

   vote
0     1
1     0
2     1
3     1
4     1

# 3. train-test 데이터셋 나누기

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# 위 단계에서 분리한 feature X와 label y에 대해, Train과 Test셋으로 분리
# Train셋은 X_train, y_train으로, Test셋은 X_test와 y_test으로 정의됨
X_train, X_test, y_train, y_test=train_test_split(X, y, stratify=y, random_state=42)

# stratify = 원래 y의 비율에 따라 데이터셋을 랜덤으로 섞기
# random_state = 다음에 실행해도 같은 데이터셋으로 결과 도출

In [ ]:
# Train은 158개, Test은 53개로 분리됨
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(158, 13) (53, 13) (158, 1) (53, 1)

In [ ]:
X_train.head()

,gender_female,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention
68,1,0,0,0,0,0,1,0.5,1.000000,0.333333,0.50,0.50,0.35
8,0,1,1,0,0,0,0,0.0,0.333333,1.000000,0.25,0.25,0.25
10,0,1,0,0,0,1,0,0.0,0.333333,0.666667,0.25,0.75,0.30
67,0,1,0,0,0,0,1,1.0,1.000000,0.666667,0.00,0.25,0.25
90,0,1,0,0,0,1,0,1.0,1.000000,0.666667,1.00,0.25,0.00

In [ ]:
X_test.head()

,gender_female,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention
81,0,1,0,1,0,0,0,0.5,0.333333,0.333333,0.50,0.50,0.30
30,0,1,0,0,0,1,0,0.0,0.666667,0.666667,0.25,0.25,0.35
92,1,0,0,0,0,1,0,0.5,0.666667,0.333333,0.50,0.75,0.20
62,0,1,0,0,0,1,0,0.0,0.333333,1.000000,0.00,0.00,0.40
11,1,0,0,0,0,0,1,0.0,0.000000,0.666667,0.50,0.25,0.40

# 4. 모델 적용

In [ ]:
# 머신러닝 모델 중 KNN 알고리즘을 적용하기 위한 library 선언
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
# 참조할 이웃의 수 : n_neighbors = #
knn=KNeighborsClassifier(n_neighbors=3)

## 4-1. 랜덤없는 교차검증: cross_val_score

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
scores=cross_val_score(knn, X_train, y_train, cv=5)
# fold(나누는 블럭의 개수) 5개
# n_neighbors = 5로 설정됨

In [ ]:
scores # 5회 실행한 결과값 : 정확도

array([0.5625    , 0.625     , 0.5625    , 0.61290323, 0.64516129])

In [ ]:
scores.mean()

0.6016129032258064

In [ ]:
# X_test, y_test에 예측
from sklearn.model_selection import cross_val_predict

In [ ]:
cross_val_predict(knn, X_test, y_test, cv=5)
# label에 대한 예측값, 나중에 비교해서 % 도출

array([1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0])

## 4-2. 랜덤 있는 교차검증: KFold

In [ ]:
from sklearn.model_selection import KFold

In [ ]:
# parameter : n_splits
kfold=KFold(n_splits=5, shuffle=True, random_state=42)

In [ ]:
# cv = kfold
score=cross_val_score(knn, X_train, y_train, cv=kfold)

In [ ]:
score

array([0.625     , 0.65625   , 0.6875    , 0.70967742, 0.5483871 ])

In [ ]:
score.mean()

0.6453629032258065

## 4-3. 임의분할 교차검증

In [ ]:
from sklearn.model_selection import ShuffleSplit

In [ ]:
# test_size와 train_size 정해줌
shuffle_split=ShuffleSplit(test_size=0.3, train_size=0.5, random_state=42)

In [ ]:
# cv = shuffle_split
score=cross_val_score(knn, X_train, y_train, cv=shuffle_split)

In [ ]:
score

array([0.54166667, 0.5625    , 0.64583333, 0.625     , 0.5625    ,
       0.66666667, 0.5625    , 0.52083333, 0.6875    , 0.60416667])

In [ ]:
score.mean()

0.5979166666666667

## 4-4. train/test/validity 분할과 교차검증

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train_val, X_test, y_train_val, y_test=train_test_split(X, y, random_state=1 )

In [ ]:
# train, valid, test로 나누기
X_train, X_valid, y_train, y_valid=train_test_split(X_train_val, y_train_val, random_state=2 )

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn=KNeighborsClassifier(n_neighbors=3)

In [ ]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
# train에 적용
scores=cross_val_score(knn, X_train, y_train, cv=5)

In [ ]:
scores

array([0.75      , 0.83333333, 0.54166667, 0.60869565, 0.73913043])

In [ ]:
scores.mean()

0.6945652173913043

In [ ]:
# valid에 적용
knn.score(X_valid, y_valid)

0.6

In [ ]:
# test에 적용
knn.score(X_test, y_test)

0.6226415094339622