#Function

In [ ]:
def add(a, b): 
    return a + b

In [ ]:
a = 3
b = 4
c = add(a, b)
print(c)

7

In [ ]:
print(add(a,b))

7

In [ ]:
def say(): 
  return 'Hi' 
a=say()
print(a)

Hi

In [ ]:
def add(a, b): 
  print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [ ]:
add(3,4)

3, 4의 합은 7입니다.

In [ ]:
a=add(3,4)

3, 4의 합은 7입니다.

In [ ]:
a

In [ ]:
def say(): 
  print('Hi')

In [ ]:
say()

Hi

In [ ]:
def add(a, b):
  return a+b

In [ ]:
result = add(a=3, b=7)
# result = add(3, 7)
# result = add(b=7, a=3)

In [ ]:
result

10

In [ ]:
def add_many(*args): 
  result = 0 
  for i in args: 
    result = result + i 
  return result
a=add_many(1,2,3,4,5,6,7,8,9,10)
print(a)

55

In [ ]:
def add_mul(choice, *args): 
    if choice == "add": 
        result = 0 
        for i in args: 
            result = result + i 
    elif choice == "mul": 
        result = 1 
        for i in args: 
            result = result * i 
    return result

In [ ]:
a1 = add_mul("add",1,2,3,4,5,6,7,8,9,10)
a2 = add_mul("mul", 5,7,9,10)

In [ ]:
print(a1)

55

In [ ]:
print(a2)

3150

In [ ]:
def print_kwargs(**kwargs):
  print(kwargs)

In [ ]:
print_kwargs(a=1)

{'a': 1}

In [ ]:
print_kwargs(name='foo', age=3)

{'name': 'foo', 'age': 3}

In [ ]:
def add_and_mul(a,b): 
  return a+b, a-b, a*b, a/b

In [ ]:
print(add_and_mul(3,4))

(7, -1, 12, 0.75)

In [ ]:
a, b, c, d = add_and_mul(3,4)

In [ ]:
a

7

In [ ]:
b

-1

In [ ]:
c

12

In [ ]:
d

0.75

In [ ]:
def say_myself(name, old, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")

In [ ]:
say_myself("박응용", 27)
# say_myself("박응용", 27, True)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [ ]:
say_myself("박응선", 27, False)

나의 이름은 박응선 입니다.
나이는 27살입니다.
여자입니다.

In [ ]:
a = 1
def vartest(a):
    a = a +1
    return a

vartest(a)
print(a)

1

In [ ]:
a=1
a=vartest(a)
print(a)

2

In [ ]:
a = 1 
def vartest(): 
    global a 
    a = a+1

vartest() 
print(a)

2

In [ ]:
add = lambda a, b: a+b
result = add(3, 4)
print(result)

7

# 사용자 입출력 (User Input)

In [ ]:
a = input()

Sookmyung Women's University

In [ ]:
print(a)

Sookmyung Women's University

In [ ]:
number = input("숫자를 입력하세요: ")

숫자를 입력하세요: 3

In [ ]:
number

'3'

In [ ]:
for i in range(10):
  print(i, end=',') # end : 마지막 출력

0,1,2,3,4,5,6,7,8,9,

#파일 입출력

In [ ]:
f = open("new.txt", 'w') # w: 읽고 사용가능
f.close()

In [ ]:
f = open("new.txt", 'w')
for i in range(1, 11):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()